body {
	margin: 0 auto;
	border: none;
	font-family: 'Open Sans', sans-serif;
}

input[type="button"], input[type="submit"], button {
	background: #33D6D6;
	border: 0px !important;
  border-radius: 0px !important;
  color: #fff !important;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  min-height: 50px;
  opacity: .7;
  padding: 16px 30px 20px;
  text-decoration: none;
}

input[type="button"], input[type="submit"], button:hover {
	opacity: 1;
}

input[type="date"]::-webkit-inner-spin-button{
    display:none;
}

#contacto {
  background-color: rgba(13, 119, 181, 0.86);
  color: white;
	padding: 40px 0;
}

#dtPickerForm {
	background-color: white;
	cursor: pointer;
}

#map {
	height: 300px;
	width: 100%;
}

#mision {
	height: 600px;
}

#nav-header {
	margin-bottom: 0;
  min-height: 80px;
}

#nav-header h1 {
	margin: 0;
}

#nosotros {
	background-color: #F9F9F9;
	height: 600px;
}

#participar {
  padding: 50px 0;
}

#scroll-up {
	background-color: #33D6D6;
	bottom: 50px;
	cursor: pointer;
	display: none;
	height: 40px;
	opacity: .7;
	position: fixed;
	right: 20px;
	width: 40px;
	z-index: 1000;
}

#scroll-up:hover {
	opacity: 1;
}

#top {
	height: 85px;
}

#vision {
	background-color: #F9F9F9;
	height: 600px;
}

.contacto-cab {
	text-align: center;
	margin-bottom: 40px;
}

.contacto-cab h2 {
	font-size: 45px;
}

.contacto-container span{
	font-weight: bold;
}

.contacto-form button {
	padding: 0;
	width: 100%;
}

.contacto-form input[type="text"] {
	border: 1px solid #0D77B5;
  border-radius: 0px !important;
  outline: none;
}

.contacto-form textarea {  
	border: 1px solid #0D77B5;
  border-radius: 0px !important;
  outline: none;
  padding: 10px 10px;
}

.copyright {
	padding: 20px 0;
}

.copyright a {
	color: white;
  font-weight: 600;
  -webkit-text-stroke: 0.1px;
}

.footer-div {
	background-color: #0D77B5;
	color: white;
	padding: 25px 0px;
}

.navbar-brand {
	height: 80px;
	line-height: 80px;
	padding: 0 15px;
}

.navbar-default {
	background-color: rgba(13, 119, 181, 0.7);
	border-radius: 0;
	border: none;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #33D6D6;
}

.navbar-nav>li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav>li>a {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 55px;
    padding: 0 20px 0 20px;
}

.participa-form {
	padding: 0 50px;
}

.participa-form-cab {
	margin-bottom: 50px;
	text-align: center;
}

.participa-form-cab h2 {
	font-weight: bold;
	font-size: 45px;
}

.participa-form input[type="text"], input[type="date"] {
	border: 1px solid #33D6D6;
  border-radius: 0px !important;
  outline: none;
  padding: 20px 10px;
}

.participa-form h2, label {
	color: #0D77B5;
}

.participa-form select {
	border: 1px solid #33D6D6;
  border-radius: 0px !important;
  height: 42px;
  outline: none;
}

.scroll-up-in span {
	color: white;
	display: block;
	font-size: 20px;
	height: 50%;
	margin-top: 15%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.social a {
  font-size: 32px;
  margin: 0 10px;
  color: white;
}

.social a:hover {
	color: #33D6D6;
	transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}